name: Node.js CI

on: pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: codebase/rdicidr-0.1.0
        
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '15'
      - run: npm install
      - run: npm run lint
      - run: CI=true npm run test
      - run: npm run build

    
